src/META-INF/wsdl/localhost_8080/WSCalculadora/WSCalculadora.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calculator.unisul.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calculator.unisul.ws/" name="WSCalculadora">
<types>
<xsd:schema>
<xsd:import namespace="http://calculator.unisul.ws/" schemaLocation="http://localhost:8080/WSCalculadora/WSCalculadora?xsd=1"/>
</xsd:schema>
</types>
<message name="multiplcacao">
<part name="parameters" element="tns:multiplcacao"/>
</message>
<message name="multiplcacaoResponse">
<part name="parameters" element="tns:multiplcacaoResponse"/>
</message>
<message name="divisao">
<part name="parameters" element="tns:divisao"/>
</message>
<message name="divisaoResponse">
<part name="parameters" element="tns:divisaoResponse"/>
</message>
<message name="somar">
<part name="parameters" element="tns:somar"/>
</message>
<message name="somarResponse">
<part name="parameters" element="tns:somarResponse"/>
</message>
<message name="subtracao">
<part name="parameters" element="tns:subtracao"/>
</message>
<message name="subtracaoResponse">
<part name="parameters" element="tns:subtracaoResponse"/>
</message>
<portType name="WSCalculadora">
<operation name="multiplcacao">
<input wsam:Action="http://calculator.unisul.ws/WSCalculadora/multiplcacaoRequest" message="tns:multiplcacao"/>
<output wsam:Action="http://calculator.unisul.ws/WSCalculadora/multiplcacaoResponse" message="tns:multiplcacaoResponse"/>
</operation>
<operation name="divisao">
<input wsam:Action="http://calculator.unisul.ws/WSCalculadora/divisaoRequest" message="tns:divisao"/>
<output wsam:Action="http://calculator.unisul.ws/WSCalculadora/divisaoResponse" message="tns:divisaoResponse"/>
</operation>
<operation name="somar">
<input wsam:Action="http://calculator.unisul.ws/WSCalculadora/somarRequest" message="tns:somar"/>
<output wsam:Action="http://calculator.unisul.ws/WSCalculadora/somarResponse" message="tns:somarResponse"/>
</operation>
<operation name="subtracao">
<input wsam:Action="http://calculator.unisul.ws/WSCalculadora/subtracaoRequest" message="tns:subtracao"/>
<output wsam:Action="http://calculator.unisul.ws/WSCalculadora/subtracaoResponse" message="tns:subtracaoResponse"/>
</operation>
</portType>
<binding name="WSCalculadoraPortBinding" type="tns:WSCalculadora">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="multiplcacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divisao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="somar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subtracao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSCalculadora">
<port name="WSCalculadoraPort" binding="tns:WSCalculadoraPortBinding">
<soap:address location="http://localhost:8080/WSCalculadora/WSCalculadora"/>
</port>
</service>
</definitions>